/*HEADER*/
body {
    background-image: url("../assets/azulaurora.jpg");
    background-size: cover;
    
    color: white;
} 

.header__menu{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    align-items: center;
    

    background: linear-gradient(135deg, rgba(14, 27, 171, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0 0 0 0.37);

    

}

.header__logo{
    width: 80px;
}

.header__menu--nav{
    display: flex;
    justify-content: space-around;
    gap: 20px;

}



li{
    font-size: 1.3rem;
}

a :hover{
    color: #0ff;
    filter: drop-shadow(0 0 12px aqua);
    font-size: 1.7rem;
}
/*
ul  {
    padding: 20px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0 0 0 0.37);
} */


/*DESCRIPCIÓN*/
.description{ 
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
}

.description__parrafo{
    padding-left: 7%;
}

.social__media{
    display: flex;
    width: 50%;
   /* padding-left: 3.5%;*/ /*LO QUITO */
    gap: 20px;
    justify-content: space-evenly;
}

.social__media--logo{
    width: 50px;
    
}

.main__section{
   /* background-color: rgb(43, 167, 53); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 15% 0 15%;
    gap: 20px;
}

/*efecto de cristal*/

section  {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0 0 0 0.37);
}

#section__sobreMi{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    
   
}

#sobreMi__tittle{
    text-align: center;
}

#sobreMi__parrafo{
    width: 80%;
}

#skills__container{
    display: flex;
    
         
}

.skills__description{ 
    width: 50%;
}

.skills__terminal{
    width: 45%;
}

.terminal__toolbar{
    display: flex;
    flex-direction: row;
    gap: 12px;
    background: linear-gradient(#504b45, #3c3b37);
}

.terminal__toolbar .butt{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;

}

.btn{
    width: 15px ;
    height: 15px;
    border-radius: 50%;
   
}

.btn__red {
    background-color:  rgb(168, 40, 40);
    
}

.btn__yellow{
    background-color: yellow;

}

.btn__green{
    background-color: green;

}

.cajaSkills__texto{
    background-color: black;
    color: white;
    margin: 0;
}

.skills__parrafo{
    margin: 0;
    border;
}

/*slider skills*/

.slider{ 
    width: 70vw;
    height: auto;
    margin: auto;
    overflow: hidden;
}

.slider .slide-track{
    display: flex;
    animation: scroll-left 10s linear infinite; /* Animación hacia la izquierda */
    -webkit-animation: scroll-left 10s linear infinite;
    width: calc(200px * 12); /* Se multiplica por el doble de las imágenes */
}

.slider .slide {
    width: 200px;
}

.slider .slide img{ 
    width: 100%;
}

/* Animación hacia la izquierda */
@keyframes scroll-left {
    0%{
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100%{
        -webkit-transform: translateX(calc(-200px*6)); /* Se mueve hacia la izquierda */
        transform: translateX(calc(-200px*6));
    }
}


/* Styles para el segundo slider (slider__tools) */
.slider__tools{ 
    width: 70vw;
    height: auto;
    margin: auto;
    overflow: hidden;
}

.slider__tools .slide-track__tools{
    display: flex;
    animation: scroll-right 10s linear infinite; /* Animación hacia la derecha */
    -webkit-animation: scroll-right 10s linear infinite;
    width: calc(200px * 12);
}

.slider__tools .slide {
    width: 200px;
}

.slider__tools .slide img{ 
    width: 100%;
}

/* Animación hacia la derecha */
@keyframes scroll-right {
    0%{
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100%{
        -webkit-transform: translateX(calc(200px*6)); /* Se mueve hacia la derecha */
        transform: translateX(calc(200px*6));
    }
}

.proyectos__cards{
    display: flex;
    text-align: center;
    gap: 5px;

}

article{
    border: solid 2px white;
    border-radius: 10px;

}

article :hover{
    color: #0ff;
    filter: drop-shadow(0 0 12px aqua);
    

}

.article__image{
    width: 95%;
    border: solid 5px white;
    margin-top: 3%;
}

.card__text{
    font-size: 1.3rem;
    color: bisque;
}

.dulce_infinito{
    border-bottom: solid 14px white ;
}


.section__form{
    
    
    
}

.form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:20px;
    

}

h2{
    text-align: center;
    color: #0ff;
    filter: drop-shadow(0 0 12px aqua);
    font-size: 2.5rem;
}

.contacto__tittle{
    text-align: center;
    color: #0ff;
    filter: drop-shadow(0 0 12px aqua);
    font-size: 2.5rem;
}

input, textarea {
    width:80%;
    font-size:1.5rem;
    border: solid 2px white;
    
}

#send{
    max-width: 30%;
    height: 5vh;
    border: groove;
    background-color: azure;
}

#send:hover{
    background-color: rgb(28, 65, 143);
    color: azure;
}

.footer__text{
    text-align: center;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0 0 0 0.37);

    border: solid 1px  rgba(0, 255, 255, 0.21);
    
    filter: drop-shadow(0 0 12px aqua)
}